

/* Стилі для navbar */
.navbar {
    padding: 10px 0;
    margin-bottom: 50px;
}

.logo {
    width: 150px;
    height: 30px;
    margin-left: 150px;
}

.btn{
    border-radius: 45px; /* Круглий логотип */
    width: 170px;
    height: 45px;
    color:#ffff;
}

.button2{
    border-radius: 45px; /* Круглий логотип */
    width: 170px;
    height: 45px;
    color:#ffff;
    background-color: orange;
    outline: none;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-link {
    color: rgb(0, 0, 0);  
    padding: 0 15px;
    font-size: 17px;
    margin: 0 15px;
}

.nav-shop {
    color: rgb(0, 0, 0);  
    padding: 0 15px;
    font-size: 17px;
    margin: 0 5px;
}
.nav-poisk
 {
    color: rgb(0, 0, 0);  
    padding: 0 15px;
    font-size: 17px;
    margin: 0 5px;
}


.main-img {

    display: flex;
    justify-content: flex-end; /* Вирівнювання по правому краю */
    align-items: center; /* Вертикальне вирівнювання по центру */
    height: 100vh; /* Висота на всю висоту екрану */
}

.maintext {
    text-align: center; /* Центруємо текст по горизонталі */
    justify-content: center; /* Вирівнюємо по вертикалі */
    align-items: center; /* Вирівнюємо по горизонталі */
    display: flex; /* Залишаємо Flexbox тільки для контейнера */
     /* Розміщуємо елементи вертикально */
     /* Висота контейнера - вся висота екрану */
}

.text{
    text-align: left;
    justify-content: center; /* Вирівнюємо по вертикалі */
    align-items: center; /* Вирівнюємо по горизонталі */
}

.text1{
    font-size: 12px;
    color: rgb(48, 48, 255);
    margin: 0 2px;
    padding: 0px;
}
.text2{
    font-size: 40px;
}
.text3{
    font-size: 16px;
    max-width: 400px;
    font-style:normal;
}


